@mixin landing-animations {

    @keyframes slideLeftAnimation {
        0% { transform: translateX(-100px); opacity: 0; }
        100% { transform: translateX(0); opacity: 1; }
    }

    .hero-title, .hero-subtitle, .primary-cta {
        animation-name: slideLeftAnimation;
        animation-duration: 3.1s;
        animation-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
        animation-iteration-count: 1;
        animation-delay: 0.5s;
        animation-direction: normal;
        animation-fill-mode: both;
    }
    .hero-subtitle {
        animation-delay: 0.7s;
    }
    .primary-cta {
        animation-delay: 1.2s;
    }
    @keyframes swing-in-bottom-fwd{
        0%{transform:rotateX(100deg); transform-origin:bottom; opacity:0;}
        100%{transform:rotateX(0); transform-origin:bottom; opacity:1;}
    }
    .hero-visual{
        animation:swing-in-bottom-fwd 3s ease-in both;
    }
}
